/* fast facts */
.fast-facts {
	@include display( flex );
	@include justify-content( space-around );
	@include flex-flow( row wrap );
	margin: 0 auto;
	width: 1050px;
	max-width: 100%;
}

.fast-fact {
	@include flex( 0 1 210px );
	text-align: center;
	margin-bottom: 40px;
}

.ff-text {
	display: block;
	font-size: 20px;
	text-transform: uppercase;
	font-weight:600;
	color: $secondaryColor;
	&:before { 
		font-size: 32px;
		color: $primaryColor;
		width: 60px; height: 60px;
		margin: 0 auto;
		display: block;
		line-height: 60px;
	}

	&.teamcanada-f:before {
		font-size: 42px;
	}

}

@media screen and (max-width: 900px) {
	.fast-fact { @include flex( 0 0 45% ); }
	.ff-text {
		&:before { font-size: 42px;}
		&.teamcanada-f:before { font-size: 52px;}
	}
}

@media screen and (max-width: 599px) {
	.fast-facts { display: block; }
	.fast-fact {
		margin: 20px auto;
		width: 250px;
	}
}

.ff-tip {
	display: block;
	text-align: center;
	padding: 14px 0;
	background: $primaryColor;
	color: $lightColor;
	line-height: 1;
	border-radius: 6px;
	margin-top: 20px;
	position: relative;
	&:before {
		position: absolute;
		top: -16px; left:0; right:0;
		margin: 0 auto;
		display: block;
		width:0; height:0;
		content:"";
		border: solid transparent;
		border-width: 8px 12px;
		border-bottom-color: $primaryColor;
	}
}