.ov-grid {
	@include display( flex );
	@include flex-flow( row wrap );
	@include justify-content( center );
	padding:0 !important;
	margin: 0 -1px;

	.medium-bg & {
		background: #fff;
	}

	&:last-child {
		margin-bottom: -1px;
	}

}

.ov-grid-item {
	@include flex( 1 1 auto );
	display: block;
	
	/*
	@include flex-flow( column nowrap );
	@include justify-content( center );
	@include align-items( center );
	*/
	text-align:center;
	padding: 40px;
	border: 1px solid $mediumColor;
	color: inherit;

	.img-wrap {
		width: 170px;
		margin: 20px auto;
		border-radius: 50%;
		@include perspective(1px);
		overflow: hidden;
	}

	.img {
		width:100%;
		height:0;
		padding: 0 0 100%;
	}

	p {
		font-size: 18px;
		line-height: 28px;
	}

	.two-up & {
		width: 50%;
	}

	.three-up & {
		width: 33.333%;
	}	

	.no-grow & { @include flex( 0 ) };	

}

a.ov-grid-item:hover {
	background: rgba(0,0,0,0.05);
	.dark-bg & {
		background: rgba(255,255,255,0.05);
	}
}

.ov-grid-item-content {
	@include flex( 1 1 auto );
}

.ov-grid-item {

	@media screen and (max-width: 950px) {	
		.three-up & { width: 50%; }
	}
	
	@media screen and (max-width: 800px) {	
		.two-up & { width: 100%; }
	}
	
	@media screen and (max-width: 599px) {
		.three-up & { width: 100%; }
	}
	
}

@media screen and (max-width: 800px) and (min-width: 599px) {

	.ov-grid {

		display: block;

		.no-collapse { display: none !important; }

		&:not(.retain-all) {
		
			.ov-grid-item {
				@include flex-flow( row nowrap );
				@include justify-content( space-between );
				.img-wrap {
					@include flex( 0 0 170px );
					@include order( 99 );
					margin: 10px 15px;
				}

				.hr-embellish { display: none; }
			}

			.ov-grid-item-content {
				text-align: left;
			}
		
		}

	}
}

@media screen and (max-width: 599px) {

	.ov-grid {
		display: block;
	}

	.ov-grid:not(.retain-all) {
		.ov-grid-item {
			display: block;
			.img-wrap,
			p { display: none; }
		}
	}

}