$defaultFontStack: helvetica,arial,sans-serif !default;
$serifFontStack: georgia,garamond,serif !default;
$sansSerifFontStack: helvetica,arial,sans-serif !default;

/* font awesome */
$fa-font-path:"../fonts/fontawesome/"; // for referencing Bootstrap CDN font files directly
@import "../../bower_components/fontawesome/scss/font-awesome";

/* font awesome */
@mixin t-fa {	
	&:before { @include fa-icon(); }
}

/* for a specific module - like social - where it's easier to use apply styles within the module itself */
@mixin t-fa-abs {
	@include t-fa();
	position: relative; 
	text-indent: -999em; 
	display: block; 
	overflow:hidden;
	&:before {
		position: absolute; top: 50%; left:0; right:0; 
		text-align: center; 
		z-index: 2; 
		text-indent:0; 
		@include transform( translateY(-50%) !important );
	}
}

/* when classes are simpler */
.t-fa { @include t-fa(); }
.t-fa-abs { @include t-fa-abs(); }

/* energy font */

@include declare-font-face('JCWF-TeamCanada','teamcanada','../fonts/teamcanada/');
$teamCanadaFont: JCWF-TeamCanada;

/* character mapping for weather shore font */
$teamCanadaFontCharacterMapping: (
	'ca-logo': "C"
);

.teamcanada-f {
	@include t-fa();
	&:before {
		text-transform: none !important;
		font-family: $teamCanadaFont;
	}
	
	@each $map in $teamCanadaFontCharacterMapping {
	
		$class: #{nth($map,1)};
		$character: #{nth($map,2)};
		
		&.#{$class}:before {
			content: "#{$character}";
		}
		
	}
	
}