/* search */
$searchBackgroundColor: #fafafa;
$searchTabBackgroundColor: #ececec;
$searchTabBackgroundColorActive: #{$searchBackgroundColor};
$searchTabTextColor: #000;
$searchEmbellishmentColor: $greenColor;
$searchEmbellishmentTextColor: #fff;
$activeItemBackgroundColor: #fff;
$searchOverlayBackgroundColor: rgba(0,0,0,0.6);

$searchOverlayCollapseWidth: 800px;
$searchOverlayCollapseWidthXS: 650px;

@include keyframes(spinner) {
	0% { transform: rotate(0deg);  }
	100% { transform: rotate(360deg); }
}

.show-search body { overflow: hidden; }
.show-search .search-overlay {
	@include transform( none );
}

.search-overlay.with-results {
	@include display( flex );
	@include flex-direction( column );
	@include justify-content( center );
}

.search-overlay form { padding: 20px 50px 20px 20px; position: relative; background: $searchBackgroundColor; }

.search-overlay .t-fa { color: #333; position: absolute; right: 20px; top:  50%; z-index: 99; margin-top:  -16px; opacity:0; 
	width: 32px; height: 32px;
	&:before { font-size: 30px; };
}

.search-overlay .loader:before { content: $fa-var-refresh;}
.search-overlay .close:before { content: $fa-var-close;}

.search-overlay .loader,
.search-overlay .close {
	@include transition( opacity 0.25s $ease-in-out-sine );
}
.search-overlay .close { opacity:0.5; z-index:100;
	&:hover { opacity:1; }
}
.search-overlay.is-loading .loader {opacity:0.5; }
.search-overlay.is-loading .close {opacity:0; }
.search-overlay .loader {
	@include animation( spinner 1000ms linear infinite );
}

.show-search .search-overlay.no-results form { top: 50%; margin-top: -40px; }
.search-overlay form { top:0; margin-top: -100px;
	@include transition( none 0.5s $ease-in-out-back 0s );
	@include transition-property( top,margin );
}

.show-search .search-overlay form {
	@include transition-delay( 0.25s );
}

.search-overlay.with-results form {
	@include transition-property( none );
}

.search-overlay.with-results,
.show-search .search-overlay {
	@include transition-delay( 0s );
}

.show-search .search-overlay.with-results form { top:0; margin-top:0; }

.search-overlay { position: fixed; top:0; bottom:0; left:0; right:0; background: $searchOverlayBackgroundColor; z-index: 999; 
	@include transform( translate3d(0, -100%, 0) );
	@include transition( transform 0.25s $ease-in-out-sine 0.5s );
}

.search-overlay .search-content { width: 1400px; margin: 0 auto; overflow: hidden; color: #fff; position: relative; height: 100%; max-width: 90%; overflow: hidden; }
.search-overlay .search-content input { color: #fff; width: 100%; border: none; background: $searchBackgroundColor;
	color: #000; font-size: 34px; outline: none; font-family: $defaultFontStack;
	@include placeholder {
		color: #000; font-size: 34px; font-family: $defaultFontStack;
	}
}

.search-overlay.with-results .search-content { height: 700px; max-height: 95%; }
.no-results.search-overlay .search-content { background: none; }
.no-results .search-results { display: none;}
.search-results .results-query {  background: $searchEmbellishmentColor; padding:  8px 20px; color: $searchEmbellishmentTextColor; }
.search-results { position: absolute; top:74px; left:0; right:0; bottom:0; background: $searchBackgroundColor;}
.search-results .results-list .tab-wrapper { height: 100%; position: relative;}
.search-results .results-list .grid { margin-top:0;}
.search-results .results-list .col { padding-bottom:0;}
.search-results .results-list .item { border-width:0; padding: 30px;}
.search-results .results-list .item .block { background: transparent;}
.search-results .results-list .item:hover { background: $activeItemBackgroundColor;}
.search-results .results { position: absolute; top: 98px; left:0; right:0; bottom:0; overflow-y: scroll; overflow-x:hidden;
	-webkit-overflow-scrolling: touch;
}
.search-results .tab-control-wrap {
	@include display( flex );
}
.search-results .tab-control { color: #000; text-transform: uppercase; font-size: 14px; cursor: pointer; background: $searchTabBackgroundColor; padding: 10px; text-align: center; 
	@include flex-grow( 1 );

	span {
		display: inline-block; 
		background: $searchEmbellishmentColor; 
		margin-right: 10px; 
		color: $searchEmbellishmentTextColor; 
		font-size: 12px; width: 24px; 
		height: 24px;
		line-height: 24px; 
		border-radius: 50%; 
		vertical-align: middle;
	}

	&.selected,
	&:hover {
		background: $searchTabBackgroundColorActive;
	}

}

.search-results .tab-wrapper { position: static;}

.search-results .results-types .selector { display: none; background: $searchEmbellishmentColor; color: $searchEmbellishmentTextColor; }
.search-results .results-types .selector .value { color: $searchEmbellishmentTextColor; padding: 10px;}

@media screen and (max-width: $searchOverlayCollapseWidth) {
	.search-overlay { 

		.t-fa { right: 10px;}

		.search-content {
			max-width: 100%; 
			max-height: 100% !important;

			input { font-size: 24px;
				@include placeholder { font-size: 24px;}
			}			
		}

		.search-results { 
			top: 65px;
			.results-query { display: none; }

			.tab-controls {
				.selector { display: block;}
				.tab-control { display: none;}
			}			

			.results { top: 32px; }
		}
	}

}


@media screen and (max-width: $searchOverlayCollapseWidthXS) {
	.search-results .results-list .item { padding: 10px; }
}