/* hero */
.hero {
	
	position: relative;
	
	.fader-item {
		height: 100vh;
		min-height: 500px;
		max-height: 800px;
		padding-top: $headerHeight + $navTopHeight;
		position: relative;
		background-color: $primaryColor;
		@include display( flex );
		@include flex-flow( column nowrap );
	}
	
}

.hero-content {
	width: 780px;
	max-width: 95%;
	margin: auto;
	text-align:center;
	position: relative;
	padding-top: 120px;
	z-index: 2;

	p {
		font-size: 24px;
		line-height: 36px;
		font-weight:300;
		margin: 15px 0;
	}

	.hgroup-title {
		&:after {
			margin: 20px auto 0;
			width: 100px;
			border-top: 1px solid #fff;
			content:"";
			display: block;
		}
	}

}

.fader-item-bg {
	position: absolute;
	z-index: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: $headerHeight + $navTopHeight;
	opacity:0;
	@include transition( opacity 0.25s $ease-in-out-sine );	
	left:0; right:0; bottom:0;
	.loaded & { opacity:0.09; }
}

@media screen and (max-width: $collapseNavAt) {
	.hero-content { 
		p { 
			font-size: 22px;
			line-height: 30px;
		}
	}
	.hero .fader-item { padding-top: 0; }
	.fader-item-bg { top: 0; }
}